html {
overflow-y: scroll;
}
/*
h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}*/

.frontgradient {
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
	padding: 2px;  
	border: 2px solid transparent;
    border-radius: 4px;
    background-origin: border-box;
	margin-bottom:10px;
	position: relative;
}

.frontgradient > a {
	background: url(../images/bs-docs-masthead-pattern.png) repeat center center;
	height:60px;width:100%;padding-top:10px;padding-left:10px;display:block;opacity:0.7;
}

.frontgradient > a:hover {
	opacity:1.0;
}

.frontgradient .exampletxt {bottom:0;right:0;margin:5px;position:absolute;color:#fff;opacity:0.4;font-style:italic;}

.frontgradient h4 {color:#fff}
