
ul.getit {
  list-style:none;
  height:40px;
  
  padding:0;
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

ul.getit > li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
  background: #eee;
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
}

ul.getit li:hover {
  background: #ccc;
  background: -webkit-linear-gradient(top, #D0D0D0 0%,#dddddd 100%);
  background: linear-gradient(top, #D0D0D0 0%,#dddddd 100%);
}

ul.getit > li > a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

ul.getit > li > li {
  width:88px;
  border-left:1px solid #fff;
}

ul.getit > li > li > li {
  border-right:none;
  width:89px;
}

ul.getit > li > a > strong {
  font-size:14px;
  display:block;
  color:#222;
}


.gh-ico {
	width: 22px;
	height: 22px;
	margin-right: 4px;
	vertical-align: top;
	background: url(../images/github-icons.png) no-repeat 0 0;
	opacity: .65;
	background-position: 0 -20px;
	display: inline-block;
}
