div.getit {
	margin: auto;
	margin-right: 0;
	width:300px;
	text-align: center;
}
div.getit > p{
	text-align: center;
	width: 100%;
}

div.getit > ul {
  list-style:none;
  height:40px;
  margin:0;
  padding:0;
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width: 100%;
}

div.getit > ul li {
  width:99px;
  float:left;
  margin:0;
  border-right:1px solid #d2d2d2;
  height:40px;
  background: #eee;
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
}

div.getit > ul li:hover {
  background: #ccc;
  background: -webkit-linear-gradient(top, #D0D0D0 0%,#dddddd 100%);
  background: linear-gradient(top, #D0D0D0 0%,#dddddd 100%);
}

div.getit > ul li > a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

div.getit > ul > li > li {
  width:88px;
  border-left:1px solid #fff;
}

div.getit > ul > li > li > li {
  border-right:none;
  width:89px;
}

div.getit > ul > li > a > strong {
  font-size:14px;
  display:block;
  color:#222;
}


div.getit > ul > li > a.gh-ico:before {
	display:block;
	float:left;
	content:"";
	background: url(../images/github-icons.png) no-repeat 0 0;
	background-position: 10px -20px;
	width:35px;
	height:30px;
}

div.getit > ul > li > a.ubuntu-ico:before {
	display:block;
	float:left;
	content:"";
	background: url(../images/ubuntu-icons.png) no-repeat 0 0;
	background-position: 10px 0px;
	background-size: 25px;
	width:35px;
	height:30px;
}
