
#latest-commits-widget{
	border:1px solid #cacaca;
	overflow-x:hidden;
	font:13px helvetica, arial, freesans, clean, sans-serif;
	background:#dedede
}

#latest-commits-widget a,#latest-commits-widget a:visited{
	color:#4183C4
}

#latest-commits-widget a:hover{
	text-decoration:underline
}

#latest-commits-header{
	background-color:#e1e1e1;
	background-image:-webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image:linear-gradient(center top, #f1f1f1 0%, #e1e1e1 100%);
	border-bottom:1px solid #CACACA;
	color:#52595d;
	height:25px;
	margin: 0;
	padding:5px 0 0 5px;
	text-shadow:1px 0 1px rgba(255, 255, 255, .7);
	font-size:1.3em;
	font-weight:bold
}

#latest-commits-header h4 {
	margin: 0;
	display: inline-block;
}

#latest-commits-widget ul#commit-history{
	padding-left: 0;
	margin: 0;
}

#latest-commits-widget > ul#commit-history > li{
	list-style-type: none;
	background-color:#e1e1e1;
	background-image:-webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
	background-image:linear-gradient(center top, #f1f1f1 0%, #e1e1e1 100%);
	border-bottom:1px solid #CACACA;
	padding:5px;
	width: 100%;
}

#latest-commits-widget ul#commit-history li .commit-message{font-size:.8em;text-decoration:none; line-height: 1.3em;}
#latest-commits-widget ul#commit-history li .commit-message:hover{text-decoration:underline}
#latest-commits-widget ul#commit-history li .commit-sha{color:#999;font-size:.8em}
#latest-commits-widget ul#commit-history li .commit-date{color:#444;font-size:.8em}
#latest-commits-widget ul#commit-history li .commit-author-info a,#latest-commits-widget ul#commit-history li .commit-author-info a:visited{color:#444;text-decoration:none}

#latest-commits-widget ul#commit-history li .commit-avatar{
	margin-right:10px;
	margin-top:5px;
	height:50px;width:50px;border-radius:4px;border:1px solid #dedede;
}


#latest-commits-widget ul#commit-history li .commit-author-info {
	padding-top: 5px;
	width: 500px;
}
 