<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="anel_sockets" version="1.0">
  <action id="iovalue_absolut">
    <string id="channel" model="iochannels" />
    <bool id="value" />
  </action>
  <action id="iovalue_toogle">
    <string id="channel" model="iochannels" />
  </action>
  <condition id="iocondition">
    <string id="channel" model="iochannels" />
    <bool id="value" />
  </condition>
  <action id="ioname">
    <string id="channel" model="iochannels" />
    <string id="name" />
  </action>
  <action id="reload">
  </action>
  <model id="anel.io.value" model_key="channel">
    <string id="channel" />
    <int id="value" />
  </model>
  <model id="anel.io.name" model_key="channel">
    <string id="channel" />
    <string id="name" />
  </model>
  
  <section>switch</section>
</plugin>
