<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="roomcontrol_leds" version="1.0">
  <action id="ledvalue_relative">
    <int id="channel" model="ledchannels" />
    <int id="value" min="-255" max="255" />
    <enum id="fade" n="3" />
  </action>
  <action id="ledvalue_absolut">
    <int id="channel" model="ledchannels" />
    <int id="value" min="0" max="255" />
    <enum id="fade" n="3" />
  </action>
  <action id="ledvalue_invers">
    <int id="channel" model="ledchannels" />
    <enum id="fade" n="3" />
  </action>
  <condition id="ledcondition">
    <int id="channel" model="ledchannels" />
    <int id="lower" min="0" max="255" />
    <int id="upper" min="0" max="255" />
  </condition>
  <action id="ledname">
    <int id="channel" model="ledchannels" />
    <string id="name" />
  </action>
  
  <property id="ledvalue">
    <int id="channel" />
    <int id="value" />
  </property>
  <property id="ledname">
    <int id="channel" />
    <string id="name" />
  </property>
  
  <action id="curtain">
    <int id="value" />
  </action>
  <condition id="curtaincondition">
    <int id="value" />
  </condition>
  <property id="curtainstate">
    <int id="max" />
    <int id="value" />
  </property>
  
</plugin>
