<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="roomcontrol_leds" version="1.0">
  <action id="ledvalue_relative">
    <int id="channel" model="ledchannels" />
    <int id="value" min="-255" max="255" />
    <enum id="fade" n="3" />
  </action>
  <action id="ledvalue_absolut">
    <int id="channel" model="ledchannels" />
    <int id="value" min="0" max="255" />
    <enum id="fade" n="3" />
  </action>
  <action id="ledvalue_invers">
    <int id="channel" model="ledchannels" />
    <enum id="fade" n="3" />
  </action>
  <condition id="ledcondition">
    <int id="channel" model="ledchannels" />
    <int id="lower" min="0" max="255" />
    <int id="upper" min="0" max="255" />
  </condition>
  <action id="ledname">
    <int id="channel" model="ledchannels" />
    <string id="name" />
  </action>
  
  <model id="led.value" model_key="channel">
    <int id="channel" />
    <int id="value" />
  </model>
  <model id="led.name" model_key="channel">
    <int id="channel" />
    <string id="name" />
  </model>
  
  <action id="curtain">
    <int id="value" />
  </action>
  <condition id="curtain.condition">
    <int id="value" />
  </condition>
  <property id="curtain.state">
    <int id="max" />
    <int id="value" />
  </property>
  
  <section>switch</section>
</plugin>
