<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="roomcontrol_leds" version="1.0">
	<action id="ledvalue_relative">
		<string id="channel" model="led.name" model_key="channel" model_show="name" />
		<int id="value" min="-255" max="255" />
		<enum id="fade" n="3" />
	</action>
	<action id="ledvalue_absolut">
		<string id="channel" model="led.name" model_key="channel" model_show="name" />
		<int id="value" min="0" max="255" />
		<enum id="fade" n="3" />
	</action>
	<action id="ledvalue_invers">
		<string id="channel" model="led.name" model_key="channel" model_show="name" />
		<enum id="fade" n="3" />
	</action>
	<action id="ledmoodlight">
		<string id="channel" model="led.name" model_key="channel" model_show="name" />
		<bool id="moodlight" />
	</action>
	<condition id="ledcondition">
		<string id="channel" model="led.name" model_key="channel" model_show="name" />
		<int id="lower" min="0" max="255" />
		<int id="upper" min="0" max="255" />
	</condition>
	<action id="ledname">
		<string id="channel" model="led.name" model_key="channel" model_show="name" />
		<string id="name" />
	</action>
	
	<model id="roomcontrol.leds" model_key="channel">
		<string id="channel" />
		<int id="value">0</int>
		<string id="name">...</string>
	</model>
	
	<action id="curtain">
		<int id="value" />
	</action>
	<condition id="curtain_condition">
		<int id="value" />
	</condition>
	<property id="curtain.state">
		<int id="max" />
		<int id="value" />
	</property>
	
	<section>switch</section>
</plugin>
