build/*
_site/*
old/*

*.kdev_include_paths
.kdev4/*
*.directory
*.kdev4

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# nodejs
core/node_modules/*