<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="anel_sockets" version="1.0">
	<action id="iovalue_absolut">
		<string id="channel" model="anel.io.name" model_key="channel" model_show="name" />
		<bool id="value" />
	</action>
	<action id="iovalue_toogle">
		<string id="channel" model="anel.io.name" model_key="channel" model_show="name" />
	</action>
	<condition id="iocondition">
		<string id="channel" model="anel.io.name" model_key="channel" model_show="name" />
		<bool id="value" />
	</condition>
	<action id="ioname">
		<string id="channel" model="anel.io.name" model_key="channel" model_show="name" />
		<string id="name" />
	</action>
	<action id="reload">
	</action>
	
	<model id="anel.io" model_key="channel">
		<string id="channel" />
		<int id="value">0</int>
		<string id="name">...</string>
	</model>

	<section>switch</section>
</plugin>
