<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="switches" version="1.0">
	<action id="switch.value">
		<string id="channel" model="switches" model_key="channel" model_show="name" />
		<bool id="value" />
	</action>
	<action id="switch.toogle">
		<string id="channel" model="switches" model_key="channel" model_show="name" />
	</action>
	<condition id="switch.condition">
		<string id="channel" model="switches" model_key="channel" model_show="name" />
		<bool id="value" />
	</condition>
	<action id="switch.name">
		<string id="channel" model="switches" model_key="channel" model_show="name" />
		<string id="name" />
	</action>
	<action id="reload">
	</action>
	
	<model id="switches" model_key="channel">
		<string id="channel" />
		<int id="value">0</int>
		<string id="name">...</string>
	</model>

	<section>switch</section>
</plugin>
