<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="sessioncontroller" version="1.0">
  <!-- Propagates all current logins and own logins as well as all endpoints of own logins -->
  <property id="serverlogins" type="session">
    <int id="all" />
    <int id="own" />
	<string id="endpoints" /><!-- semicolon separated -->
  </property>
 
  <!-- Session state -->
  <property id="session" type="session">
    <enum id="state" n="6" /><!-- ok, notaccepted(too much clients), missing(require login), failed, timeout, session_closed(leasetime, logout) -->
  </property>
  
  <!-- Server infos -->
  <property id="serverinfo" type="session">
    <string id="appversion" />
    <string id="protocolversion" />
    <bool id="auth_required" />
    <int id="auth_timeout" />
    <int id="session_timeout" />
  </property>
</plugin>

<plugin id="serverstate" version="1.0">
  <!-- Propagates server condition -->
  <property id="serverstate">
    <enum id="state" n="2" /><!-- ready, going offline -->
  </property>
 
  <action id="servercmd" group_restriction="adm, roomcontrol_admin">
    <enum id="state" n="3" /><!-- resync client, restart, stop server -->
  </action>
  
  <event id="serverstate">
    <enum id="state" n="2" /><!-- ready, going offline -->
  </event>
</plugin>

<plugin id="collection" version="1.0">
  <action id="executecollection">
	  <string id="collectionid" />
  </action>
  <action id="stopcollection">
	  <string id="collectionid" />
  </action>
</plugin>

<plugin id="backups" version="1.0">
 <!-- backups -->
  <action id="backup_create">
    <string id="name" />
  </action>
  <action id="backup_restore">
    <string id="backupid" model="backups" />
  </action>
  <action id="backup_remove">
    <string id="backupid" model="backups" />
  </action>
  <property id="backup">
    <string id="backupid"></string>
    <string id="name"></string>
  </property>

</plugin>
