::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*.content-primary {
	-moz-column-width: 11cm;
	-moz-column-gap: 20px;
	-webkit-column-width: 11cm;
	-webkit-column-gap: 20px;
	column-width: 10cm;
	column-gap: 20px;
}

form.sceneitemform {
	width:100%;
	margin-top:0px;
}*/

form.sceneitemform {
	float:left;
	width:10cm;
	margin-top:0px;
}
form.sceneitemform > ul {
	float:right;
	width:9.8cm;
	background:#fff;
}*/

form.sceneitemform > ul > li {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}

.selectedSceneListItem {
	background: #396B9E;
	color: white !important;
	text-shadow: 0 1px 1px #194B7E;
	background-image: -webkit-linear-gradient( #5F9CC5,#396B9E );
	background-image: -moz-linear-gradient( #5F9CC5,#396B9E );
	background-image: -ms-linear-gradient( #5F9CC5,#396B9E );
	background-image: -o-linear-gradient( #5F9CC5,#396B9E );
	background-image: linear-gradient( #5F9CC5,#396B9E );
}

a.btnsaveitem, a.btnremoveitem {
	float:right;text-align:right;margin:.3em 0
}

/* site layout */

.content-secondary {
	overflow-y:scroll;
	overflow-x:hidden;
	position:fixed;
	top:3.0em;
	bottom:3.0em;
	padding-top: 20px;
	padding-right:10px
}

@media all and (min-width: 650px) {
	
	.type-home .ui-content,
	.type-interior > .ui-content {
		padding: 0;
	}
	.type-interior > .ui-content {
		background-position: 45%;
		overflow: hidden;
	}
	.content-secondary {
		text-align: left;
		float: left;
		background: none;
		border-top: none;
	}

	.content-primary {
		width: 60%;
		float: right;
		margin-right: 1%;
		padding-right: 1%;
	}
	
	.content-primary ul:first-child {
		margin-top: 0;
	}
	
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.type-interior .content-primary {
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
}
@media all and (min-width: 750px) {
	.content-primary {
		width: 65%;
		padding-right: 1%;
	}	
	.type-interior > .ui-content {
		background-position: 34%;
	}
}

@media all and (min-width: 1200px) {
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 70%;
		margin-right: 5%;
		padding-right: 3%;
	}
}
