::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#newsceneitempopup {
	min-width: 360px;
}
/*.content-primary {
	-moz-column-width: 11cm;
	-moz-column-gap: 20px;
	-webkit-column-width: 11cm;
	-webkit-column-gap: 20px;
	column-width: 10cm;
	column-gap: 20px;
}

form.itemform {
	width:100%;
	margin-top:0px;
}*/

/*form.itemform {
	float:left;
	width:10cm;
	margin-top:0px;
}
form.itemform > ul {
	float:right;
	width:9.8cm;
	background:#fff;
}

form.itemform > ul > li {
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}*/

.selectedSceneListItem {
	background: #396B9E;
	color: white !important;
	text-shadow: 0 1px 1px #194B7E;
	background-image: -webkit-linear-gradient( #5F9CC5,#396B9E );
	background-image: -moz-linear-gradient( #5F9CC5,#396B9E );
	background-image: -ms-linear-gradient( #5F9CC5,#396B9E );
	background-image: -o-linear-gradient( #5F9CC5,#396B9E );
	background-image: linear-gradient( #5F9CC5,#396B9E );
}

@media only screen and (min-width: 1025px){
	.ui-page {
		width: 960px !important;
		margin: 0 auto !important;
		position: relative !important;
		border-right: 5px #666 outset !important;
		border-left: 5px #666 outset !important;
	}
	.ui-overlay-d{
		background: #333;
	}
}

a.HeaderButton {
	float:right;text-align:right;margin:.3em 0
}

.hidden {
	display:none;
}

/* site layout */

.content-secondary {
	text-align: left;
	overflow-y:scroll;
	overflow-x:hidden;
	position:fixed;
	top:0em;
	bottom:0em;
	padding-top: 20px;
	padding-right:0px;
	margin-bottom: 50px;
}

.content-primary {
	top: 0em;
	bottom: 0em;
	position: fixed;
	right: 0em;
/*	background-color:lightgray;*/
}

#canvas { outline: none; cursor: default; }

@media all and (min-width: 650px) {
	
	.type-home .ui-content,
	.type-interior > .ui-content {
		padding: 0;
	}
	.type-interior > .ui-content {
		background-position: 45%;
		overflow: hidden;
	}
	.content-primary {
		width: 65%;
	}
	.content-secondary {
		width: 34%;
	}
	
	.content-primary ul:first-child {
		margin-top: 0;
	}
	
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.type-interior .content-primary {
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
}
@media all and (min-width: 750px) {
	.content-primary {
		width: 65%;
	}	
	.content-secondary {
		width: 34%;
	}
	.type-interior > .ui-content {
		background-position: 34%;
	}
}

@media all and (min-width: 1200px) {
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 70%;
	}
	.content-secondary {
		width: 29%;
	}
}
