<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="mpd" version="1.0">
  <action id="mpdvolume">
    <double id="volume" min="-1.0" max="1.0" step="0.1">1.0</double>
    <bool id="relative">1</bool>
  </action>
  <action id="mpdposition">
    <int id="position_in_ms" step="100" />
    <bool id="relative">1</bool>
  </action>
  <action id="mpdchangeplaylist">
    <string id="playlistid" model="mpd_playlists" />
	<int id="track"  /><!-- -1= use last played track number of that playlist -->
  </action>
  <action id="mpdcmd">
    <enum id="state" n="8" /><!--PlayCmd,PauseCmd,StopCmd,NextCmd,PrevCmd,NextPlaylistCmd,PrevPlaylistCmd,DumpMediaInfoCmd -->
  </action>
  <condition id="mpdstatecondition">
    <enum id="state" /><!-- PlayCmd,PauseCmd,StopCmd -->
  </condition>
  
  <property id="volume.changed">
    <int id="volume" min="0" max="100" />
  </property>
  
  <property id="playlist.current">
	  <string id="playlistid" />
  </property>
  
  <!-- playlists changed -->
  <model id="playlists" model_key="playlistid">
	  <string id="playlistid" />
	  <int id="position" />
  </model>
  
  <!-- only send this notification if a client changes the position or the player engine made unexspected jumps.
  It's up to the client to fake the current postion counter -->
  <property id="track.info">
	<string id="filename" />
    <string id="trackname" />
	<int id="track" /><!-- -1 if not a track of a playlist -->
    <uint id="position_in_ms" />
    <uint id="total_in_ms" />
    <enum id="state" /><!-- PlayCmd,PauseCmd,StopCmd -->
  </property>
  
  <property id="connection.state">
    <string id="server"></string>
    <enum id="state" n="2" /><!-- not reachable, connected -->
  </property>
  
  <section>control</section>
</plugin>
