<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="roomcontrol_udp_watchio" version="1.0">
	<event id="udpwatchio.value">
		<int id="pin" min="0" max="8" />
		<bool id="value">0</bool>
	</event>

	<model id="udpwatchio.sensor" model_key="sensorid">
		<int id="sensorid"></int>
		<bool id="value"></bool>
	</model>
	
	<section>watch</section>
</plugin>
