<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="pulseaudio" version="1.0">
	<action id="pulsechannelvolume">
		<string id="sinkid" model="pulse.channels" model_key="sinkid" model_show="sinkid" />
		<double id="volume" min="-1.0" max="1.0" step="0.1">1.0</double>
		<bool id="relative">1</bool>
	</action>
	<action id="pulsechannelmute">
		<string id="sinkid" model="pulse.channels" model_key="sinkid" model_show="sinkid" />
		<enum id="mute" /><!-- Mute,Unmute,Toggle -->
	</action>
	
	<model id="pulse.channels" model_key="sinkid">
		<string id="sinkid" />
		<double id="volume" min="0.0" max="1.0" />
		<bool id="mute" />
	</model>
	<property id="pulse.version">
		<int id="protocol" />
		<int id="server" />
	</property>
	
	<section>control</section>
</plugin>
