<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="modes" version="1.0">
  <action id="changemode">
    <string id="mode"></string>
  </action>
  <condition id="modecondition">
    <string id="mode"></string>
  </condition>
  <event id="modeevent">
    <string id="mode"></string>
  </event>
  <property id="modechanged">
    <string id="mode"></string>
  </property>
</plugin>
