<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="time" version="1.0">
	<event id="timeperiodic">
		<time id="time"></time>
		<enum id="days" multiple="true" n="7"></enum>
	</event>
	<event id="timedate">
		<date id="date"></date>
		<time id="time"></time>
	</event>
	<condition id="datespan">
		<date id="lower"></date>
		<date id="upper"></date>
	</condition>
	<condition id="timespan">
		<time id="lower"></time>
		<time id="upper"></time>
	</condition>
	
	<property id="nextalarm">
		<date id="date"></date>
		<time id="time"></time>
	</property>
	
	<model id="time.alarms" model_key="uid">
		<string id="uid"></string>
	</model>
	
	<section>control</section>
</plugin>
