<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="remotesystem" version="1.0">
  <action id="remotefocus">
	<string id="servers">127.0.0.1</string><!-- multiple servers possible: server1;server2 -->
  </action>
  <action id="remotevolume">
    <double id="volume" min="-1.0" max="1.0" step="0.1">1.0</double>
    <bool id="relative">1</bool>
  </action>
  <action id="remotenotification">
    <string id="title"></string>
    <uint id="duration" max="5000" step="100">0</uint>
    <serverfile id="audio"></serverfile>
  </action>
  <action id="remotevideo">
    <uint id="position_in_ms" step="100" />
    <int id="display" min="-1" max="10" step="1">0</int>
	<url id="video" />
  </action>
  <action id="remotedisplay">
	  <int id="display" min="-1" max="10" step="1">0</int>
	  <enum id="state" n="3"></enum><!-- on, off, toggle -->
  </action>
  <property id="remotevolumechanged">
    <double id="volume" min="0.0" max="1.0" />
  </property>
  <property id="remotenotificationchanged">
    <string id="title"></string>
    <serverfile id="audio"></serverfile>
    <enum id="state" n="2" /><!-- shown, hidden -->
  </property>
  <property id="remotevideochanged">
    <string id="title"></string>
    <serverfile id="video"></serverfile>
    <enum id="state" n="3" /><!-- play, pause, stopped, error -->
  </property>
</plugin>