<div class="container"><header class="page-header titlebackground">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</header>

<div class="content">

	<div class="row">
		<div class="span8">
			{{ content }}
			<hr>
			{% include JB/comments %}
		</div>
	
		<div class="span4">
			<h4>Inhalt</h4>
				<ul class="nav nav-tabs nav-stacked">
					{% assign pages_list = site.pages %}
					{% assign group = 'documentation' %}
					{% include JB/pages_list %}
				</ul>
				
		{% unless page.tags == empty %}
			<h4>Tags</h4>
			<ul class="tag_box">
			{% assign tags_list = page.tags %}
			{% include JB/tags_list %}
			</ul>
		{% endunless %}  
		</div>
	</div>
	<a style="float:right;margin-top:1em;" href="#"><i class="icon-arrow-up"></i>Nach oben</a>
</div>
