  <header class="jumbotron titlebackground">
		<div class="container">
			<img style="float:left;height:120px;margin-right:20px;" src="images/editor_ex_persp2.png">
			<h1>{{ site.title }}</h1>
			<p>{{ site.tagline }}</p>

			<div class="getit">
				<a href="getit.html" class="btn btn-large btn-success">Download</a>
				<div style="margin-top:10px">Server und viele Plugins für Linux und Windows</div>
			</div>
		</div>
	</header>

<div class="container"><div class="content">
		{{ content }}
</div></div>
