::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}


/* Set the fixed height of the footer here */
footer {
	bottom: 0px;
	left:0px;
	right:0px;
	position: fixed;
	padding-top:10px;
}

header .btn-group {
	margin: 0;
}

header .right {
	float: right;
}

header .left {
	float: left;
}

.hidden {
	display: none;
}

.push {
	height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
      
#configlist > button {
	width:100%;
	text-align: left;
}

.sceneList {
	list-style: none;
	clear: both;
}

.sceneListItem {
	width:160px;
	height:30px;
	position:relative;
	padding:0;
	float: left;
	margin-top: 5px;
/* 	border-right: 1px solid black; */
	margin-right: 1px;
	padding-right: 2px;
	padding-left: 2px;
}

@media (max-width: 480px) {
	.sceneListItem {
		width:100%;
		height:30px;
	}
}

.selectedSceneListItem {
	background: #396B9E;
	background-image: -webkit-linear-gradient( #5F9CC5,#396B9E );
	background-image: -moz-linear-gradient( #5F9CC5,#396B9E );
	background-image: -ms-linear-gradient( #5F9CC5,#396B9E );
	background-image: -o-linear-gradient( #5F9CC5,#396B9E );
	background-image: linear-gradient( #5F9CC5,#396B9E );
}

.sceneListItem .sceneListItemText {
/*	font-size: 13pt;
	font-weight: bold;*/
	color: black;
/*	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	width:90%;*/
}

.sceneListItem:first-child {
	font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
	font-size: 18pt;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.sceneListItem:last-child {
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
 	margin-right: 5px;
	padding-right: 0px;
	padding-left: 0px;
}

.q0{background-color:rgb(222,119,174)}
.q1{background-color:rgb(241,182,218)}
.q2{background-color:rgb(253,224,239)}
.q3{background-color:rgb(230,245,208)}
.q4{background-color:rgb(184,225,134)}
.q5{background-color:rgb(127,188,65)}
.q6{background-color:rgb(77,146,33)}
.q7{background-color:rgb(222,119,174)}
.q8{background-color:rgb(241,182,218)}
.q9{background-color:rgb(253,224,239)}

.sceneListItem .sceneinfo {

}

.sceneListItem .badge {
	float:right;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
}

.elemhidden {
	display:none;
}

#maincontent {
	width:100%;
	height: -webkit-calc(100% - 140px);
}

#maincontent .fullheight {
	height: 100%;
}

#canvas {
	outline: none;
	cursor: default;
	padding: 0px;
/*	background-image:url(../img/brushed-silver-metallic-background.jpg);*/
	width:100%;
	height: -webkit-calc(100% - 140px);
	height: calc(100% - 140px);
}

#canvas table {
	background-color: #eee;
	border-collapse: collapse;
	margin: 7px;	
}

#canvas td {
/* 	border: 1px solid navy; */
	height: 120px;
	text-align: center;
	font-size: 10pt;
	width: 200px;
	padding: 0px;
}
/*
#canvas .drag{
	margin: auto;
	text-align: center;
	width: 200px;
	height: 120px;
	line-height: 35px;
	border: 2px solid SteelBlue;
	background-color: white;
}*/

/*#canvas .drag {
	width:100%;
	height:100%;
	background-color: #f5f5f5;
}*/

.sceneItem {
	background-color: #f5f5f5;
	position: relative;
	width: 200px;
	height: 120px;
}


.sceneItem .sceneItemHeader {
	position: absolute;
	width:100px;
	min-height:1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	padding: 0px;
	transform:translate(-30px, 50px) rotate(270deg);
	-webkit-transform:translate(-30px, 50px) rotate(270deg);
}

.sceneItem .sceneItemMain {
	padding-left: 40px;
	padding-top: 10px;
	text-align: left;
	overflow-x: hidden;
	overflow-y: auto;
	text-overflow: ellipsis;
	height: 90%;
}
